# Dependencies
node_modules/

# Build files
dist/
build/

# Environment files
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# NestJS
server/dist/

# React/Vite
client/dist/